
/* FONT STYLES*/

@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?27841936');
  src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?27841936') format('woff'),
       url('../font/symbols-nerds.ttf?27841936') format('truetype'),
       url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */


/*MAIN STYLES*/
* {
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  min-width: 900px;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: medium;
  font-family: "Roboto", "Arial", sans-serif;
}

.container {
  width: 880px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 16px;
}

h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.btn {
  display: block;
  width: 240px;
  padding: 10px 0;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.btn:hover {
  background: #d6494d;
}

.btn:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, .15);
}

/* ICONS STYLES */
.icon-basket {
  font-size: 16px;
  line-height: 9px;
  color: #a6a6a6;
}

.footer-social-icons i {
  font-size: 23px;
  line-height: 16px;
  color: #fff;
}
/*ICON STYLES END*/

/*MAIN HEADER*/
.main-header {
  padding-top: 15px;
  margin-bottom: 75px;
  background-color: #eee;
}

.main-header .main-header-top {
  margin-bottom: 36px;
}

.main-header-top .header-logo {
  float: left;
  width: 160px;
}

.main-header-top .main-navigation {
  float: right;
  width: 570px;
}

.main-navigation ul {
  margin: 0;
  margin-left: 10px;
  margin-top: 27px;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.main-navigation a:hover {
  color: #fb565a;
}

.basket:hover i {
  color: #fb565a;
}

.main-navigation a:active {
  color: #ababab;
}

.basket:active i {
  color: #ababab;
}

.main-navigation .active {
  position: relative;
}

.main-navigation .active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fb565a;
}

.main-header-bottom h1{
  margin-top: 58px;
  padding-bottom: 81px;

}
/* HEADER SLIDER*/
.main-header-bottom .slider {
  position: relative;
  width: 880px;
  height: 310px;
  margin: 0 auto;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background: #fff;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 480px;
  padding: 30px 0;
  color: #283136;
}

.slide-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: black;
}

.slide .btn {
  margin-top: 25px;
}

.slide:nth-child(1) {
  background-image: url("../img/slider-image-1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(2) {
  background-image: url("../img/slider-image-2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(3) {
  background-image: url("../img/slider-image-3.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}
/* HEADER SLIDER END */
/* HEADER STYLES END */

/*PROMO STYLES*/
.promo-box {
  width: 880px;
  padding-bottom: 80px;
  font-size: 0;
  border-bottom: 2px solid #eee;
}

.promo-box .promo-item {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  margin-right: 80px;
  font-size: 15px;
}

.promo-box .promo-item-title {
  margin-top: 17px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.promo-item p {
  margin-bottom: 26px;
}

.promo-item:nth-child(2) .btn {
  background-color: #00ca74;
}

.promo-item:nth-child(2) .btn:hover {
  background-color: #01a25e;
}

.promo-item:nth-child(2) .btn:active {
  background-color: #009053;
}

.promo-item:nth-child(3) .btn {
  background-color: #efc84a;
}

.promo-item:nth-child(3) .btn:hover {
  background-color: #d6ae2c;
}

.promo-item:nth-child(3) .btn:active {
  background-color: #c09b24;
}

.promo-box .promo-item:nth-child(3n+3) {
  margin-right: 0;
}

.promo-box a {
  width: 140px;
}
/*PROMO STYLES END*/

/*ABOUT COMPANY STYLES*/
.about-company {
  padding-top: 32px;
  border-bottom: 2px solid #eee;
}

.about-company span {
  text-transform: uppercase;
}

.about-company ul {
  margin: 0;
  padding: 0;
  margin-top: 23px;
  list-style: none;
}

.about-company li {
  position: relative;
  margin-bottom: 22px;
  padding-left: 35px;
}

.about-company li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.about-company .about-company-left {
  float: left;
  width: 620px;
  margin-right: 20px;
  padding-bottom: 47px;
}

.about-company-left p {
  margin-top: 16px;
  margin-bottom: 41px;
}

.about-company .about-company-right {
  float: left;
  width: 240px;
  padding-top: 20px;
}

.about-company-right .about-company-image {
  margin-bottom: 67px;
}
/*ABOUT COMPANY STYLES END*/

/*PARTNERS STYLES*/
.partners {
  padding: 42px 0 27px 0;
  margin-bottom: 80px;
  border-bottom: 2px solid #EEE;
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .partners-item {
  opacity: .4;
}

.partners .partners-item:hover {
  opacity: .9;
}

.partners .partners-item:active {
  opacity: 1;
}

/*PARTNERS STYLES END*/


/* CATALOG STYLES */
/* SIDEBAR STYLES */
.sidebar {
  float: left;
  width: 240px;
}

.filter-range-price {
  width: 240px;
  margin-bottom: 24px;
  padding-bottom: 23px;
}

.range-controls {
  position:relative;
  height:80px;
  margin-bottom:15px;
  margin-top: 13px;
  padding:0 20px;
  background-color: #f1f1f1;
  overflow:hidden;
  border-radius: 3px;
}

.range-controls .scale{
  width: 180px;
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}

.scale .bar {
  width: 83%;
  height:2px;
  background:#00ca74;
}

.range-controls .toggle{
  box-sizing: content-box;
  position:absolute;
  top:30px;
  left:20px;
  width:4px;
  height:4px;
  border: 8px solid white;
  background: #ababab;
  cursor:pointer;
  border-radius:50%;
  box-shadow:0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
    left:160px;
}

.price-controls input {
    width: 80px;
    padding: 8px 10px;
    border: none;
    background: #f1f1f1;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    border-radius: 3px;
}

.price-controls input:first-of-type {
  margin-right: 17px;
  margin-left: 5px;
}

.price-controls span {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
}

.filter input {
  display: none;
}

.filter li {
  margin-bottom: 16px;
  padding-left: 35px;
}

.filter label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

.filter input[type="checkbox"] + label::before {
  position: absolute;
  top: -3px;
  left: -30px;
  content: '\2610';
  font-family: "symbols-nerds";
  font-size: 25px;
  line-height: 25px;
  color: #c1c1c1;
}

.filter input[type="checkbox"]:checked + label::before {
  content: '\2611';
}

.filter input[type="radio"] + label::before {
  position: absolute;
  top: -3px;
  left: -30px;
  content: '\25cb';
  font-family: "symbols-nerds";
  font-size: 25px;
  line-height: 25px;
  color: #c1c1c1;
}
.filter input[type="radio"]:checked + label::before {
content: '\25cf';
}

.filters .grid {
  margin-bottom: 49px;
}

.filters input[type="submit"] {
  margin-top: 50px;
  padding: 12px 45px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  background: #f1f1f1;
  border: none;
  outline: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.filters input[type="submit"]:hover {
  background: #e5e5e5;
}

.filters input[type="submit"]:active {
  background: #d5d5d5;
}
/* SIDEBAR STYLES END */

/* GOODS STYLES */
.goods-sorting {
  padding-top: 4px;
  margin-bottom: 15px;
  font-size: 0;
}

.goods-sorting span,
.goods-sorting a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.goods-sorting .sorting-links {
  float: right;
  width: 433px;
}

.sorting-links .sorting-link:last-child {
  margin-right: 30px;
}

.sorting-links a {
  display: inline-block;
  vertical-align: top;
  color: #cacaca;
}

.sorting-links .sorting-direction {
  width: 18px;
  font-size: 23px;
  line-height: 20px;
  color: #c1c1c1;
}

.sorting-links .sorting-direction:hover {
  color: #b5b5b5;
}

.sorting-links .sorting-direction:active {
  color: #000;
}

.sorting-links .active-direction {
  margin-left: 47px;
  color: #00ca74;
}

.sorting-links .sorting-link {
  margin-right: 45px;
  border-bottom: 1px dashed #00ca74;
}

.sorting-links .sorting-link:hover {
  color: #000;
  border-bottom: 1px solid #00ca74;
}

.sorting-links .sorting-link:active {
  border-bottom: none;
}

.goods {
  float: right;
  width: 570px;
  margin-bottom: 80px;
  padding-left: 8px;
}

.goods .goods-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  min-height: 270px;
  margin-right: 78px;
  margin-bottom: 74px;
  font-size: 15px;
}

.goods .goods-item:nth-child(2n+2) {
  margin-right: 0;
}

.goods-item .goods-item-image-top {
  background: #797979 url("../img/goods-item-image_top.jpg");
  display: block;
  width: 240px;
  height: 30px;
  opacity: .1;
}

.goods-item .goods-item-actions {
  display: none;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 200px;
  min-height: 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background: #fff;
}

.goods-item-actions .goods-item-title {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.goods-item-actions p {
  text-align: center;
}

.goods-item-actions .btn {
  width: 140px;
  margin-top: 35px;
}

.goods-item:hover .goods-item-image-top {
  opacity: 1;
}

.goods-item:hover .goods-item-actions {
  display: block;
}

/*PAGE NAVIGATION BEGIN */
.page-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.page-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
}

.page-navigation a {
  display: block;
  min-width: 38px;
  min-height: 38px;
  margin-right: 10px;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background: #f1f1f1;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
}

.page-navigation .page-navigation-link:hover {
  background: #e5e5e5;
  border: 2px solid #e5e5e5;
}

.page-navigation .page-navigation-link:active {
  background: #d5d5d5;
  border: 2px solid #d5d5d5;
}


.page-navigation li:last-child a {
  padding-right: 30px;
  padding-left: 30px;
}

.page-navigation .page-navigation-active {
  background: #fff;
}
/* PAGE NAVIGATION END */
/* GOODS STYLES END */
/* CATALOG STYLES END*/


/* FOOTER STYLES */
/* MAP STYLES*/
.map {
  background: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 350px -50px;
  margin-bottom: 165px;
}

.map .company-contacts {
  margin-top: -330px;
  background: #FFF;
  width: 250px;
  min-height: 240px;
  z-index: 1000;
  position: relative;
  padding: 7px 23px 26px 21px;
}

.company-contacts .company-contacts-phone {
  margin-top: 17px;
  margin-bottom: 17px;
}

.map .btn {
  width: 204px;
}
/* MAP STYLES END */

.main-footer {
  padding-bottom: 120px;
}

.main-footer .footer-social-icons {
  width: 300px;
  float: left;
}

.footer-social-icons a {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  margin-right: 27px;
  font-size: 23px;
  background: #e1e1e1;
}

.footer-social-icons a:hover {
  background-color: #fb565a;
}

.footer-social-icons a:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, .15);
}

.footer-social-icons i {
  position: relative;
  bottom: -18px;
}

.main-footer .footer-social-text {
  float: right;
  width: 570px;
}

.footer-social-text span {
  font-size: 36px;
}
/* FOOTER STYLES END*/
/* MAIN STYLES END*/
