html {
  box-sizing: border-box;
  font-size: 12px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.preload * {
  -webkit-transition: none !important;
     -moz-transition: none !important;
      -ms-transition: none !important;
       -o-transition: none !important;
}

body {
  min-width: 1024px;
  padding: 0;
  margin: 0;
  color: #c7c7c7;
  background: #111 url(../img/bg/ligths.jpg) no-repeat 50% 0;
  font-family: Verdana,Tahoma,Geneva,Arial;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fb9854;
  font-size: 15px;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: #ff7300;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

a:hover {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
  border-bottom: 1px solid #ff7300;
}

select {
  width: 100%;
  outline: none;
}

input[type=button],
input[type=submit],
.button-standard:active {
  min-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #fba56a), color-stop(1, #ff7300));
  background: -moz-linear-gradient(center top, #fba56a 5%, #ff7300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBA56A', endColorstr='#ff7300');
  background-color: #fb8a3c;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  -webkit-box-shadow: inset 0px 0px 0px 0px #fba56a;
     -moz-box-shadow: inset 0px 0px 0px 0px #fba56a;
          box-shadow: inset 0px 0px 0px 0px #fba56a;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #f7e0cd;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
  outline: none;
}

input[type=submit]:hover,
input[type=button]:hover,
.button-standard:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #ff7300), color-stop(1, #fba56a));
    background: -moz-linear-gradient(center top, #ff7300 5%, #fba56a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7300', endColorstr='#FBA56A');
    background-color: #ff7300;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

input[type=submit]:active,
input[type=button]:active,
.button-standard:active {
    position: relative;
    top: 1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input[type=text],
input[type=date],
select {
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  border-radius: 2px;
}

input[type=text]:focus,
input[type=search]:focus {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
  border: solid 1px #f7902b;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(247, 144, 43, 0.5);
     -moz-box-shadow: 0px 0px 15px 0px rgba(247, 144, 43, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(247, 144, 43, 0.5);
  color: #ea5f38;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox] + label,
input[type=radio] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url('../img/orange.png');
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
       -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

input[type=checkbox] + label:before {
  background-position: 0 0;

}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:checked + label:hover:before {
  background-position: -48px 0;
}

input[type=checkbox] + label:hover:before {
  background-position: -24px 0;
}

input[type=radio] + label:before {
  background-position: -120px 0;
}

input[type=radio]:checked + label:before,
input[type=radio]:checked + label:hover:before {
  background-position: -168px 0;
}

input[type=radio] + label:hover:before {
  background-position: -144px 0;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.application {
  padding-left: 10px;
  padding-right: 10px;
}

.content-block {
  margin-bottom: 20px;
  padding: 20px;
  background: #1b1b1b url("../img/bg/blik.jpg") no-repeat;
  border: 1px solid #272727;
  border-radius: 5px;
}

/* MAIN-HEADER__TOP */
.main-header__top {
  padding-top: 35px;
  padding-left: 25px;
}

.main-logo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 20px;
}

.main-logo .main-logo__image {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.main-logo .main-logo__image_blur {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.main-logo:hover .main-logo__image_blur {
  opacity: 1;
}

.user-info {
  display: inline-block;
  vertical-align: top;
  min-width: 200px;
  margin-top: 45px;
  padding: 10px 11px 10px 11px;
  background: url("../img/bg/pattern.gif");
  border: 1px solid rgba(247, 144, 43, 0.3);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.user-info:hover {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
  border: solid 1px #f7902b;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(247, 144, 43, 0.5);
     -moz-box-shadow: 0px 0px 30px 0px rgba(247, 144, 43, 0.5);
          box-shadow: 0px 0px 30px 0px rgba(247, 144, 43, 0.5);
}

.user-info__text {
  width: 110px;
  float: left;
}

.user-info__name {
  font-weight: bold;
}

.user-info__button {
  width: 85px;
  float: right;
  margin-left: 10px;
}
/* MAIN-HEADER__TOP END */

/* MAIN-HEADER__BOTTOM */
.main-header__bottom {
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.main-menu {
  font-size: 0;
}

.main-menu .main-menu__item {
  display: inline-block;
  vertical-align: top;
  height: 66px;
  margin-right: 4px;
  line-height: 66px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fafbfb;
  font-size: 1.25rem;
  font-family: Tahoma,Geneva;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.main-menu .main-menu__item_active {
  border-bottom: 5px solid #ff7300;
  color: #ff7300
}

.main-menu .main-menu__item svg {
  position: relative;
  top: 6px;
  margin-right: 5px;
  fill: #fafbfb;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease
}

.main-menu .main-menu__item_active svg {
  fill: #ff7300;
}

.main-menu:hover .main-menu__item {
  color: transparent;
  text-shadow: 0 0 3px #fafbfb;
}

.main-menu:hover .main-menu__item_active {
  color: #ff7300;
  text-shadow: none
}

@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .main-menu:hover .main-menu__item {
        color: #fafbfb;
    }
}

.main-menu .main-menu__item:hover {
    border-bottom: 5px solid #ff7300;
    color: #ff7300;
    text-shadow: none;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.main-menu .main-menu__item:hover svg {
  fill: #ff7300;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .main-menu:hover .main-menu__item svg {
        -webkit-filter:blur(2px);
           -moz-filter: blur(2px);
            -ms-filter: blur(2px);
                filter: blur(2px)
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .main-menu:hover .main-menu__item_active svg {
        -webkit-filter:blur(0px);
           -moz-filter: blur(0px);
            -ms-filter: blur(0px);
                filter: blur(0px)
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .main-menu .main-menu__item:hover svg {
        -webkit-filter:blur(0px);
           -moz-filter: blur(0px);
            -ms-filter: blur(0px);
                filter: blur(0px)
    }
}
/* MAIN-HEADER__BOTTOM END */

/* SETTINGS */
.steps .steps__item_1 {
  width: 135px;
  float: left;
}

.steps .steps__arrow {
  width: 62px;
  float: left;
}

.steps .steps__arrow button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.steps .steps__arrow svg {
  width: 20px;
  height: 34px;
  margin-left: 15px;
  margin-right: 15px;
  fill: rgba(255, 115, 0, 0.7);
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.steps .steps__arrow button:hover svg {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
       -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  fill: #ff7300;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.steps__arrow_prev button{
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
         -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
/* SETTINGS END */

/* CONTENT */
.content__row {
  display: table-row;
}

.content .left,
.content .right {
  display: table-cell;
  vertical-align: top;
}

.content .right {
  width: 100%;
}

/* LEFT-SIDEBAR */
.left-sidebar {
  width: 264px;
  min-width: 260px;
  margin-right: 20px;
  padding-left: 22px;
}

.main-filter input[type=date],
.main-filter input[type=text],
.main-filter select {
  width: 100%;
  margin-bottom: 5px;
  outline: none;
}

.main-filter input[type=submit] {
  margin-bottom: 20px;
}

.main-filter__header {
  margin-bottom: 17px;
  text-align: center;
}

.filter-form {
  padding: 0 10px 0 10px;
}

.checkbox-fields__group,
.radio-fields__group {
  margin-top: 10px;
  margin-bottom: 13px;
}

.radio-fields {
  margin-bottom: 26px;
  margin-top: 16px;
  padding-left: 6px;
}

.button-group {
  text-align: center;
}
/* LEFT-SIDEBAR END */
/* CONTENT END */

/* MAIN-FOOTER */
.copyright {
  text-align: right;
}
/* MAIN-FOOTER END */
